extends layout

block content

  script(type='text/javascript')
    var data = !{JSON.stringify(data)};

  script(type='text/javascript')
    var listSelected = false;

    function SetListId(listid){

      document.getElementById('ListId').value = listid;
      document.getElementById('ListHeader').className = 'listTableHeadersDone';

      listSelected = true;
     }

    function CheckComplete(){

       if (listSelected) {
         return true;
       }
       else
       {
          alert('Please select a list from the board.');
          return false;
       }
     }
  div(class='bodyBlock')
    h1= data.title
    h2(class='subHeading') Step 2 - Set List and Render Details
    table(class='listTable')
      tr
        td(class='listTableHeaders', id='ListHeader')
          b Lists
      each list in data.lists
        tr
          td(class='listTableCells')
             a(href='javascript:SetListId("#{list.id}")') #{list.name}
    br
    br
    form(action="/notes", method="post", onsubmit='return CheckComplete()')
      input(type='textbox', name='ListId', id='ListId', hidden='true')
      input(type='textbox', name='KeyId', hidden='true', value=data.keyid)
      input(type='textbox', name='TokenId', hidden='true', value=data.tokenid)
      input(type='submit', value='Create Release Notes', class='buttons')